{% extends 'base.html' %}

{% load static %}

{% block conteudo %}

    <!-- ***** Welcome Area Start ***** -->
    {% include 'includes/welcome.html' %}
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    {% include 'includes/features_small.html' %}
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    {% include 'includes/features_big.html' %}
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    {% include 'includes/work_process.html' %}
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Testimonials Start ***** -->
    {% include 'includes/testimonials.html' %}
    <!-- ***** Testimonials End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    {% include 'includes/pricing.html' %}
    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    {% include 'includes/counter.html' %}
    <!-- ***** Counter Parallax End ***** -->   

    <!-- ***** Blog Start ***** -->
    {% include 'includes/contact.html' %}

    <!-- ***** Blog End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <!-- ***** Contact Us End ***** -->

{% endblock %}